
.App {
  
}
.logo{padding:1em;}
label{font-size:14px}
 
.App-header {
  padding:1.3em 0;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom:2em;
}

.App-link {
  color: #61dafb;
}
 

.notification{
  background:white;
  margin-bottom: 0.5rem !important; 
  padding: 0.4em;}


  .loader{
    text-align: center;
 
  }